.title {
  &--h1 {

  }
}

.text {
  &--t1 {

  }
}

.light {
  font-weight: $light;
}

.regular {
  font-weight: $regular;
}

.thin {
  font-weight: $thin;
}

.medium {
  font-weight: $medium;
}

.bold {
  font-weight: $bold;
}

.d-show {
  @include mobile {
    display: none !important;
  }
  @include tablet {
    display: none !important;
  }
}

.m-show {
  @include desktop {
    display: none !important;
  }
  @include tablet {
    display: none !important;
  }
}

.m-hide {
  @include mobile {
    display: none !important;
  }
}
