$regular: $FW_REGULAR;
$semiBold: $FW_SEMI_BOLD;


.title--h1 {
  @include font(15px, 1.33, $semiBold);
}


.text--t1 {
  @include font(32px, 1.25, $regular);
  word-break: break-word;
  &.indent {
    text-indent: 45px;
  }
}
.text--t2 {
  @include font(20px, 1.5, $regular);
}
.text--t3 {
  @include font(15px, 1.33, $regular);
}


@include mobile {
  .text--t1 {
    @include font(28px, 1.28, $regular);
  }
}


a {
  color: inherit;
  text-decoration: none;
}

picture {
  position: relative;
  display: inline-flex;
  max-width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

[v-cloak] {
  display: none !important;
}
