$colGapDesktop: ($COL_GAP_DESKTOP / 2);
$colGapTablet: ($COL_GAP_TABLET / 2);
$colGapMobile: ($COL_GAP_MOBILE / 2);

.is-debug .row {
  box-shadow: inset 0 0 0 1px rgba(255, 0, 255, 0.5);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$colGapDesktop;
  margin-left: -$colGapDesktop;

  &.no-gap {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.no-wrap {
    flex-wrap: nowrap !important;
  }

  &.ai-c {
    align-items: center;
  }

  &.ai-s {
    align-items: stretch;
  }

  &.ai-b {
    align-items: baseline;
  }

  &.ai-fs {
    align-items: flex-start;
  }

  &.ai-fe {
    align-items: flex-end;
  }

  &.jc-sa {
    justify-content: space-around;
  }

  &.jc-sb {
    justify-content: space-between;
  }

  &.jc-c {
    justify-content: center;
  }

  &.jc-fe {
    justify-content: flex-end;
  }
}

@include tablet {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$colGapTablet;
    margin-left: -$colGapTablet;
  }
}

@include mobile {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$colGapMobile;
    margin-left: -$colGapMobile;
  }
}
