$widthTablet: 768px;
$widthDesktop: 1025px;

@mixin absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin mobile {
  @media (max-width: #{$widthTablet - 1px}) {
    @content;
  }
}

@mixin mobile_tablet {
  @media (max-width: #{$widthDesktop - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$widthTablet}) and (max-width: #{$widthDesktop - 1px}) {
    @content;
  }
}

@mixin tablet_desktop {
  @media (min-width: #{$widthTablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$widthDesktop}) {
    @content;
  }
}
